        /* Style for the box */
        .number-box {
            display: inline-block;
            /* Display elements side by side */
            width: 50px;
            height: 50px;
            background-color: lightblue;
            text-align: center;
            line-height: 50px;
            font-size: 24px;
            border: 2px solid lightblue;
            border-radius: 50px;
            margin-right: 10px;
            margin-bottom: 10px;
            /* Add some space between boxes */
            transition: all 300ms cubic-bezier(0.23, 1, 0.32, 1);
            box-shadow: 0 15px 16px -9px rgba(0, 0, 0, 0.5), inset 0 -3px 4px -1px rgba(0, 0, 0, 0.2), 0 -10px 15px -1px rgba(255, 255, 255, 0.6), inset 0 3px 4px -1px rgba(255, 255, 255, 0.2), inset 0 0 5px 1px rgba(255, 255, 255, 0.8), inset 0 20px 30px 0 rgba(255, 255, 255, 0.2); }

        .countdown-timer {
            display: inline-block;
            margin-left: 10px;
            /* Add some space between the random-display and the countdown timer */
            font-size: 18px;
            color: darkred;
            /* You can choose a color that suits your design */
        }

        .random-button {
            padding: 10px 20px;
            margin-top: 20px;
            background-color: lightgreen;
            border: 0px solid green;
            border-radius: 5px;
            cursor: pointer;
            text-align: center;
            font-size: 18px;
            color: black;
            box-shadow: rgba(44, 187, 99, .2) 0 -25px 18px -14px inset,rgba(44, 187, 99, .15) 0 1px 2px,rgba(44, 187, 99, .15) 0 2px 4px,rgba(44, 187, 99, .15) 0 4px 8px,rgba(44, 187, 99, .15) 0 8px 16px,rgba(44, 187, 99, .15) 0 16px 32px;
            cursor: pointer;
            transition: all 250ms;
            user-select: none;
            -webkit-user-select: none;
            touch-action: manipulation;

        }
       
        
        .random-button:hover {
          box-shadow: rgba(44,187,99,.35) 0 -25px 18px -14px inset,rgba(44,187,99,.25) 0 1px 2px,rgba(44,187,99,.25) 0 2px 4px,rgba(44,187,99,.25) 0 4px 8px,rgba(44,187,99,.25) 0 8px 16px,rgba(44,187,99,.25) 0 16px 32px;
          transform: scale(1.05) rotate(-1deg);
        }
        .ticket-button {
            display: block;
            margin-top: 20px;
            padding: 10px 20px;
            background-color: lightgreen;
            border: 0px solid green;
            text-align: center;
            font-size: 18px;
            color: black;
            background-image: radial-gradient(93% 87% at 87% 89%, rgba(0, 0, 0, 0.23) 0%, transparent 86.18%), radial-gradient(66% 66% at 26% 20%, rgba(255, 255, 255, 0.55) 0%, rgba(255, 255, 255, 0) 69.79%, rgba(255, 255, 255, 0) 100%);
  box-shadow: inset -3px -3px 9px rgba(255, 255, 255, 0.25), inset 0px 3px 9px rgba(255, 255, 255, 0.3), inset 0px 1px 1px rgba(255, 255, 255, 0.6), inset 0px -8px 36px rgba(0, 0, 0, 0.3), inset 0px 1px 5px rgba(255, 255, 255, 0.6), 2px 19px 31px rgba(0, 0, 0, 0.2);
  border-radius: 14px;
  font-weight: bold;
   border: 0;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  cursor: pointer;
        }

        /* Styles for the Tambola ticket */
        .ticket-container {
            margin-left: 100px;
            margin-top: 20px;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            /* Display tickets side by side */
            align-items: center;
            justify-content: flex-start;
            /* Center the tickets horizontally */
            gap: 20px;
            /* Add space between tickets */
        }

        .ticket {
            width: 324px;
            padding: 20px;
            border: 1px solid #ddd;
            text-align: center;
            font-family: Arial, sans-serif;
        }

        .tambola-ticket {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 10px;
            width: 300px;
            background-color: #fff;
            padding: 10px;
            border: 0px solid #ddd;
            background: #fbfbfb;
            box-shadow: 2px 2px 15px 0px #ddd;
        }
        .tambola-ticket:before, .tambola-ticket:after {
            content: "";
            position: absolute;
            left: 5px;
            height: 6px;
            width: 290px;
          }
          .tambola-ticket:before {
            top: -5px;
            background: radial-gradient(circle, transparent, transparent 50%, #f000 50%, #000 100%) -7px -8px/16px 16px repeat-x;
          }
          .tambola-ticket:after {
            bottom: -5px;
            background: radial-gradient(circle, transparent, transparent 50%, #000 50%, #000 100%) -7px -2px/16px 16px repeat-x;
          }

        .tambola-number-box {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 80px;
            height: 80px;
            background-color: #eee;
            border: 0px solid #000;
            font-size: 20px;
            /* Increased font size for better readability */
            font-weight: bold;
        }

        .player-name {
            font-size: 18px;
            font-weight: bold;
        }

        .number {
            width: 40px;
            height: 40px;
            border: 1px solid #000;
            display: inline-block;
            margin: 5px;
            font-size: 20px;
            /* Increased font size for better readability */
            line-height: 38px;
        }

        .random-number {
            display: inline-block;
            margin-left: 10px;
            font-size: 24px;
            /* Increased font size for better readability */
            color: darkblue;
        }

        .win-display {
            border: 2px solid #333;
            padding: 10px;
            margin-top: 20px;
            background-color: #f0f0f0;
            text-align: center;
            width: 300px;
            /* Adjusted width for better alignment */
        }

        .win-display p {
            margin: 0;
            font-weight: bold;
        }

        .win-display span {
            color: green;
        }

        /* Popup */

        body {
            font-family: Arial, sans-serif;
            text-align: center;
        }

        .popup-container {
            display: none;
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, 0.5);
            z-index: 1;
        }

        .popup {
            background: #fff;
            width: 300px;
            padding: 20px;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            border-radius: 5px;
            box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
        }

        .popup h2 {
            font-size: 24px;
        }

        .popup button {
            background: #007BFF;
            color: #fff;
            border: none;
            padding: 10px 20px;
            border-radius: 5px;
            cursor: pointer;
        }

        .popup button:hover {
            background: #0056b3;
        }